<h3> Flight list </h3>

<table id="result-table" class="table table-striped table-bordered table-hover">
	<thead>
		<tr>
			<th> Airlines No </th>
			<th> Airlines Name </th>
			<th> From </th>
			<th> To </th>
			<th> Departure Date </th>
			<th> Arrival Date </th>
			<th> Departure Time </th>
			<th> Arrival Time </th>
			<th> Price </th>
		</tr>
	</thead>
	<tbody>
		{{#if searchResults.length}}
			{{#each searchResults as |row|}}
				<tr>
					<td> {{row.airlinesNo}} </td>
					<td> {{row.airlinesName}} </td>
					<td> {{row.source}} </td>
					<td> {{row.destination}} </td>
					<td> {{row.departureDate}} </td>
					<td> {{row.arrivalDate}} </td>
					<td> {{row.departureTime}} </td>
					<td> {{row.arrivalTime}} </td>
					<td> {{row.price}} </td>
				</tr>
			{{/each}}
		{{else}}
			<tr> <td colspan="9" class="info text-center"> No flights found! </td> </tr>
		{{/if}}
	</tbody>
</table>


